*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(35deg, #b94c28,#892210);
    color: #d89a74;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-size: 50px;
    font-weight: 600;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #d89a7432;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #370d06;
    font-size: 18px;
    padding: 0 30px;
}
form button{
    padding: 0 40px;
    height: 100%;
    background: #4e19048b;
    color: #d89a74;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    margin: 0auto 100px;

}
::placeholder{
    color: #d89a74;
    font-size: 18px;
}
#show-more-btn{
    background: #4e1904;
    color: #d89a74;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}
#search-result{
    width: 80%;
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
#search-result img{
    width: 300px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px; 
}